:root {
  --mainColor: #eeede7;
  --mainFont: "Poppins", sans-serif;
  --colorFont: #503217;
  --textFontColor: #8f7d6a;
}

/*Header Section start*/
header {
  z-index: 1000;
}

.navbar-brand {
  padding: 15px 0;
}
.navbar-nav {
  gap: 26px;
}
.navbar {
  position: relative;
  z-index: 1000;
  background-color: var(--mainColor);
}
.white-back{
  background-color: #F2F2F2;
}
.icons {
  gap: 20px;
}
.nav-link {
  color: var(--colorFont);
  font-family: sans-serif;
  font-size: 18px;
}
.nav-link.dropdown-toggle::after {
  display: none;
  content: none;
}
.cart {
  position: relative;
}
.over-cart {
  position: absolute;
  left: 19px;
}

/*header end*/

/*index.html*/

/*hero start*/
.hero-sec {
  background-color: #e8e6de;
  background-image: url(../img/hero-index-html/doctor.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 270px;
}
.hero-btn button {
  display: flex;
  gap: 10px;
  color: #f2f2f2;
  background-color: var(--colorFont);
  font-family: sans-serif;
}

.hero-btn button:hover {
  background-color: #7a4b2a;
  color: #f2f2f2;
  transition: all 0.4s ease;
}

.hero-img img {
  width: 667px;
  height: auto;
  max-width: 100%;
}
.hero-info h1 {
  font-size: 80px;
  font-family: var(--mainFont);
  color: var(--colorFont);
}
.hero-info .info-after-h1 {
  color: var(--textFontColor);
  font-family: sans-serif;
}
@media (max-width: 1200px) {
  .hero-info h1 {
    font-size: 56px;
  }
}
@media (max-width: 992px) {
  .hero-info h1 {
    font-size: 46px;
  }
}
@media (max-width: 768px) {
  .hero-info h1 {
    font-size: 42px;
  }
  .hero-sec {
    background-size: 180px;
  }
}

@media (max-width: 576px) {
  .hero-info h1 {
    font-size: 32px;
  }
}
/*hero end*/

/*shop by category start*/
.shop-by-categ {
  background-color: var(--mainColor);
  background-image: url(../img/shop-by-categ-imgs/medical\ shape.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.shop-by-categ h2 {
  font-size: 48px;
  font-family: var(--mainFont);
  color: var(--colorFont);
}
.category-icon img {
  max-width: 80px;
}
.category-card {
  border-color: var(--textFontColor);
  transition: all 0.4s ease;
  position: relative;
}
.category-card:hover {
  transform: scale(1.05);
  z-index: 1;
}
@media (max-width: 768px) {
  .shop-by-categ h2 {
    font-size: 42px;
  }
}

@media (max-width: 576px) {
  .shop-by-categ h2 {
    font-size: 32px;
  }
}
/*shop by category end*/

/*Medical cards Section start*/
.medical-cards {
  background-color: var(--mainColor);
}
.medical-card {
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../img/medical-cards/Ellipse\ 1.svg),
    url(../img/medical-cards/Ellipse\ 2.svg);
  background-repeat: no-repeat;
  background-position: 140px top, left bottom;
}
.medical-card2 {
  background-color: #f2f2f2;
  background-image: url(../img/medical-cards/back1.svg),
    url(../img/medical-cards/back2.svg), url(../img/medical-cards/back3.svg);
  background-repeat: no-repeat;
  background-position: left center, bottom center, right center;
}
.medical-card3 {
  background-color: #f2f2f2;
  background-image: url(../img/medical-cards/three1.svg),
    url(../img/medical-cards/three2.svg);
  background-repeat: no-repeat;
  background-position: left center, bottom right;
}
.btn-medic {
  position: absolute;
  top: 16px;
  left: 18px;
  font-size: 13px;
  font-family: sans-serif;
  background-color: #d3744a;
  pointer-events: none;
  border-radius: 15px;
}
.btn-medic span {
  color: var(--mainColor);
}
.shoping-sec {
  width: fit-content;
  border-bottom: 3px solid var(--textFontColor) !important;
  padding-bottom: 8px;
}
.shoping-sec a {
  color: var(--textFontColor);
  font-size: 18px;
  font-family: var(--mainFont);
}
.title-for-medical-cards {
  font-family: var(--mainFont);
  font-size: clamp(16px, 3vw, 24px);
  color: var(--colorFont);
}
/*Medical cards Section end*/

/*Latest health prods start*/
.latest-prods {
  background-color: var(--mainColor);
  background-image: url(../img/latest-health-prods-img/pill-for-latest.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
.card-img-top {
  width: 200px;
  height: 200px;
}
.card {
  background-color: #f2f2f2;
  transition: all 0.4s ease;
  height: 70%;
  position: relative;
}
.card-img-latest button {
  background-color: #e2dfcf;
  font-family: var(--mainFont);
  font-size: clamp(12px, 3vw, 16px);
  color: var(--colorFont);
  width: 100%;
  visibility: hidden;
}
.card-img-latest a {
  color: var(--colorFont);
  width: 100%;
}
.latest-prods .card-body {
  font-family: var(--mainFont);
  background-color: var(--mainColor);
}
.card-body {
  margin-top: 10px;
}
.card-body h2 {
  color: var(--colorFont);
  font-size: clamp(16px, 3vw, 24px);
}
.card-body span {
  font-size: clamp(13px, 3vw, 18px);
  color: var(--textFontColor);
}
.latest-prods .title-for-latest {
  font-size: clamp(30px, 3vw, 48px);
  color: var(--colorFont);
}
.latest-prods .row {
  padding-top: 60px;
}
.latest-prods .something-to-position {
  position: absolute;
  top: 14px;
  left: 13px;
  width: fit-content;
  background-color: #d3744a;
  color: white;
  border-radius: 14px;

  pointer-events: none;
}
.card:hover {
  transform: scale(1.05);
  height: auto;
}

.card:hover button {
  visibility: visible;
  background-color: #e2dfcf;
}
.card button:hover {
  background-color: #e8e6de;
}
.card-img-top {
  position: relative;
}

/*latest health prods end*/

/*Slide start*/

.slides {
  background-color: var(--mainColor);
  padding: 100px 0;
}
.slides .container {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 13px;
}
.slide-info .slide-heading {
  color: var(--colorFont);
  font-size: clamp(12px, 2.5vw, 18px);
  font-family: var(--mainFont);
}
.slide-info .message {
  color: var(--textFontColor);
  font-size: clamp(10px, 2.5vw, 16px);
}
.slide-image {
  position: relative;
}
.positioned-icon {
  position: absolute;
  top: 41px;
  left: 42px;
}
/*Slide end*/

/*Follow us section start*/
.follow-us {
  background-color: var(--mainColor);
  background-image: url(../img/follow-us/pills-follow.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 139px;
}
.follow-us .unique-follow-img {
  border-radius: 30px;
}
.follow-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.title-for-follow {
  font-size: clamp(30px, 3vw, 48px);
  color: var(--colorFont);
}
.follow-card .the-image {
  transition: all 0.3s ease;
}
.follow-card .overlay {
  display: none;
}
.follow-card .overlay .overlay-text {
  cursor: pointer;
  font-family: var(--mainFont);
  color: var(--colorFont);
  font-weight: 500;
  margin-top: 10px;
}
.follow-card:hover .overlay {
  display: block;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.follow-card:hover .the-image {
  filter: grayscale(30%) brightness(1);
  opacity: 0.5;
}
.follow-card .the-image {
  width: clamp(170px, 20vw, 250px);
  height: auto;
}
.follow-us .container {
  row-gap: clamp(30px, 3vw, 50px);
}
/*Follow us section end*/

/*Explore store section start*/

.explore-store {
  background-color: #e8e6de;
}
.explore-store .title-for-explore {
  color: var(--colorFont);
  font-size: 48px;
}
@media (max-width: 768px) {
  .explore-store .title-for-explore {
    font-size: 42px !important;
  }
}

@media (max-width: 576px) {
  .explore-store .title-for-explore {
    font-size: 32px !important;
  }
}
/*Explore store section end*/

/*newsletter start*/

.newsletter {
  background-color: #e8e6de;
}
.news1 {
  background-color: #f2f2f2;
}
.news-bottom {
  margin-bottom: 60px;
}
.btn-letter {
  background-color: var(--colorFont);
  color: white;
  border-radius: 8px !important;
}
.navbar-letter .btn-letter {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.news-top span {
  font-size: 24px;
  font-family: var(--mainFont);
  color: #6c543e;
}
.news-top h2 {
  font-family: var(--mainFont);
  font-size: clamp(30px, 2.5vw, 40px);
  color: var(--colorFont);
}
.form-control {
  border-radius: 8px !important;
  border-color: var(--colorFont);
  background-color: #ebe9e0;
  padding-left: 41px;
}
.form-control::placeholder {
  font-family: sans-serif;
  color: var(--textFontColor);
}
.form-for-letter {
  position: relative;
}
.input-group .unique-img {
  position: absolute;
  top: 8px;
  left: 12px;
}
/*newsletter end*/

/*Our Happy Clients section start*/
.happy-clients {
  background-color: var(--mainColor);
}

.happy-clients .title-for-clients {
  font-size: clamp(30px, 2.5vw, 48px);
  font-family: var(--mainFont);
  color: var(--colorFont);
}
.quote-clients {
  border-radius: 30px;
  padding: clamp(2rem, 5vw, 6rem);
  background-color: #f2f2f2;
  background-image: url(../img/our-happy-clients/quote.svg);
  background-repeat: no-repeat;
  background-position: 11px -4px;
  max-width: 100%;
}
.quote-clients span {
  font-size: clamp(12px, 2.5vw, 18px);
  font-family: sans-serif;
  color: var(--textFontColor);
}
.person-info {
  width: 100%;
  transition: all 0.3s ease;
}
.person-info:hover {
 outline-style: solid;
 outline-width: 1.6px;
  border-radius: 11px;
  outline-color: var(--colorFont);
 
  transform: scale(1.05);
}
.person-info .person-details {
  font-size: clamp(12px, 2.5vw, 18px);
}
.person-info .person-details .person-name {
  color: var(--colorFont);
  font-family: var(--mainFont);
}
.person-info .person-details .person-position {
  color: var(--textFontColor);
  font-family: sans-serif;
}
@media (max-width: 1200px) {
  .person-info {
    width: 75%;
  }
}
/*Our Happy Clients section end*/

/*index.html end*/

/*about.html start*/

/*footer start*/
.footer-section {
  background-image: url(../img/footer-imgs/tree.svg),
    url(../img/footer-imgs/pills.svg);
  background-position: left bottom, right top;
  background-repeat: no-repeat;
}
.footer-info {
  column-gap: 35px;
  font-family: var(--mainFont);
}
.info {
  row-gap: 32px;
}
.info h2 {
  font-size: 24px;
  color: var(--colorFont);
}
.info ul li a {
  text-decoration: none;
  font-size: 17px;
  color: var(--textFontColor);
}
.info ul li a:hover {
  color: var(--colorFont);
  transition: all 0.4s ease;
}
.footer-section {
  background-color: var(--mainColor);
}
.social-icons img {
  width: 30px;
  height: auto;
}
.medifit-image img {
  height: 74px;
  flex-wrap: wrap;
  width: auto;
  max-width: 100%;
}
.description-for-footer {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--textFontColor);
}

.footer-addresses .address {
  row-gap: 30px;
}
.address {
  font-family: var(--mainFont);
}
.address h2 {
  font-size: 24px;
  color: var(--colorFont);
}
.address .add-info {
  color: var(--textFontColor);
  font-size: 18px;
}
.footer-addresses {
  gap: 107px;
}
.footer-addresses h2 {
  font-size: 24px;
  color: var(--colorFont);
}
.cont-info .cont a {
  color: var(--textFontColor);
  font-size: 18px;
}
.contact-footer-info {
  row-gap: 30px;
}
/*footer end*/

/*-------------------shop-detail.html start-------------------*/
.pointer-events-none {
  pointer-events: none;
}
/*recent products section start*/
.latest-prods-recent {
  position: relative; /* Needed to contain the absolute ::before */
  background-color: var(--mainColor);
  background-image: url(../img/latest-health-prods-img/pill-for-latest.svg);
  background-repeat: no-repeat;
  background-position: left center;
  overflow: hidden; /* Prevents ::before from overflowing if needed */
}

.latest-prods-recent::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--mainColor);
  z-index: 1;
  pointer-events: none;
  opacity: 1;
}

.latest-prods-recent > * {
  position: relative;
  z-index: 2;
}

.cta-section .cta-text {
  font-size: clamp(23px, 3vw, 45px) !important;
}
.cta-section .cta-description {
  font-size: clamp(15px, 3vw, 18px) !important;
  font-family: sans-serif;
}
.cta-section {
  background-color: var(--mainColor);
}
.cta-section .container {
  background-color: #f2f2f2;
}
/*recent products section end*/

/*Shop Services section start*/
.shop-services {
  background-color: var(--mainColor);
}
.shop-services span {
  font-family: var(--mainFont);
  color: var(--colorFont);
  font-weight: 500;
}
/*Shop services end*/

/*prod-details start*/
.prod-details {
  background-color: var(--mainColor);
  background-image: url(../img/shop-detail/b12-details/Decoration.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.prod-details .prod-img {
  width: clamp(200px, 30vw, 463px);
  transition: all 0.4s ease;
}
.prod-details .extra-info .btn-dark {
  background-color: var(--colorFont) !important;
  font-family: var(--mainFont);
}
.prod-details .extra-info .btn {
  padding: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  
}
.prod-details .extra-info button:hover{
  background-color: #653e1c!important;
  transition: all 0.3s ease;
}
.prod-details .extra-info input {
  border-radius: 8px;
  background-color: var(--mainColor);
}
.top-content .top-head h2 {
  font-family: var(--mainFont);
  color: var(--colorFont);
  font-size: clamp(40px, 4vw, 70px);
}
.top-content .top-content-price {
  color: var(--textFontColor);
  font-family: var(--mainFont);
}
.top-content .top-content-price .current-price {
  font-size: 48px;
}
.top-content .top-content-price .discount {
  font-size: 30px;
}

.prod-details .product-description .desc-head,
.bottom-content .bottom-head {
  font-size: 24px;
  font-family: var(--mainFont);
  color: var(--colorFont);
}
.prod-details .product-description .desc-info {
  font-size: 18px;
  font-family: sans-serif;
  color: var(--textFontColor);
}
.prod-details .bottom-content .bottom-list ul {
  font-family: sans-serif;
  font-size: 18px;
  color: var(--textFontColor);
}
.prod-details .prod-img:hover{
  transform: scale(1.05);
}
@media (max-width: 1200px) {
  .top-content .top-content-price .current-price {
    font-size: 30px;
  }
  .top-content .top-content-price .discount {
  font-size: 20px;
}
}
@media (max-width: 992px) {
  .top-content .top-content-price .current-price {
    font-size: 24px;
  }
   .top-content .top-content-price .discount {
  font-size: 17px;
}
}

/*prod-details end*/


/*--------------------sign in page-----------------------*/
.custom-background{
  background-color: var(--mainColor);
}





/*----------------------contact us section------------------*/

.card-contact{
  width: 34%;
}
.tall-input{
  height: 55px;
  background-color: var(--mainColor)!important;
}
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}