/*-----------------root html----------------*/
:root {
  --mainColor: #eeede7;

  --mainFont: "Poppins", sans-serif;
  --colorFont: #503217;
  --textFontColor: #8f7d6a;
}
/* for website Aesthitics i changed selection color: */
::selection {
  background: yellow;
  color: #000000;
}
/*----------------------Header-----------------------*/
/*Header Section start*/
body {
  cursor: url(../img/cursor.svg), auto;
}
header {
  z-index: 1000;
}

.navbar-brand {
  padding: 15px 0;
}
.navbar-nav {
  gap: 26px;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #804b1c;
  transition: all 0.3s ease;
  
}
.dropdown-menu .dropdown-item{
  color: var(--colorFont)!important;
  font-family: var(--mainFont);

}
.dropdown-menu .dropdown-item:hover{
    background-color: var(--mainColor);
    transition: all 0.3s ease;
}
.navbar {
  position: relative;
  z-index: 1000;
  background-color: var(--mainColor);
}
.white-back {
  background-color: #f2f2f2;
}
.icons {
  gap: 20px;
}
.nav-link {
  color: var(--colorFont);
  font-family: sans-serif;
  font-size: 19px;
}
.nav-link.dropdown-toggle::after {
  display: none;
  content: none;
}
.cart {
  position: relative;
}
.over-cart {
  position: absolute;
  left: 19px;
}

/*header end*/

/*index.html*/

/*hero start*/
.hero-sec {
  background-color: #e8e6de;
  background-image: url(../img/hero-index-html/doctor.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 250px;
  padding: 65px 0 117px 0;
}
.hero-btn button {
  display: flex;
  gap: 10px;
  color: #f2f2f2;
  background-color: var(--colorFont);
  font-family: sans-serif;
}

.hero-btn button:hover {
  background-color: #7a4b2a;
  color: #f2f2f2;
  transition: all 0.4s ease;
}

.hero-img img {
  width: 667px;
  height: auto;
  max-width: 100%;
}
.hero-info h1 {
  font-size: 80px;
  font-family: var(--mainFont);
  color: var(--colorFont);
}
.hero-info .info-after-h1 {
  color: var(--textFontColor);
  font-family: sans-serif;
}
@media (max-width: 1200px) {
  .hero-info h1 {
    font-size: 56px;
  }
}
@media (max-width: 992px) {
  .hero-info h1 {
    font-size: 46px;
  }
}
@media (max-width: 768px) {
  .hero-info h1 {
    font-size: 42px;
  }
  .hero-sec {
    background-size: 180px;
  }
}

@media (max-width: 576px) {
  .hero-info h1 {
    font-size: 32px;
  }
}
/*hero end*/

/*shop by category start*/
.shop-by-categ {
  background-color: var(--mainColor);
  background-image: url(../img/shop-by-categ-imgs/medical\ shape.svg);
  background-repeat: no-repeat;
  background-position: right center;
  padding: 120px 0;
}
.shop-by-categ h2 {
  font-size: 48px;
  font-family: var(--mainFont);
  color: var(--colorFont);
}
.shop-by-categ .category-card .category-title {
  font-size: 18px;
  font-family: var(--mainFont);
  color: var(--colorFont);
}
.shop-by-categ .category-card .category-items {
  font-size: 16px;
  font-family: sans-serif;
  color: var(--textFontColor);
}
.category-icon img {
  max-width: 80px;
}
.category-card {
  border-color: var(--textFontColor);
  transition: all 0.4s ease;
  position: relative;
}
.category-card:hover {
  transform: scale(1.05);
  z-index: 1;
}
@media (max-width: 768px) {
  .shop-by-categ h2 {
    font-size: 42px;
  }
}

@media (max-width: 576px) {
  .shop-by-categ h2 {
    font-size: 32px;
  }
}
/*shop by category end*/

/*Medical cards Section start*/
.medical-cards {
  background-color: var(--mainColor);
  padding-bottom: 94px;
}
.medical-card {
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../img/medical-cards/Ellipse\ 1.svg),
    url(../img/medical-cards/Ellipse\ 2.svg);
  background-repeat: no-repeat;
  background-position: 140px top, left bottom;
}
.medical-card2 {
  background-color: #f2f2f2;
  background-image: url(../img/medical-cards/back1.svg),
    url(../img/medical-cards/back2.svg), url(../img/medical-cards/back3.svg);
  background-repeat: no-repeat;
  background-position: left center, bottom center, right center;
}
.medical-card3 {
  background-color: #f2f2f2;
  background-image: url(../img/medical-cards/three1.svg),
    url(../img/medical-cards/three2.svg);
  background-repeat: no-repeat;
  background-position: left center, bottom right;
}
.btn-medic {
  position: absolute;
  top: 16px;
  left: 18px;
  font-size: 13px;
  font-family: sans-serif;
  background-color: #d3744a;
  pointer-events: none;
  border-radius: 15px;
}
.btn-medic span {
  color: var(--mainColor);
}
.shoping-sec {
  width: fit-content;
  border-bottom: 3px solid var(--textFontColor) !important;
  padding-bottom: 8px;
}
.shoping-sec a {
  color: var(--textFontColor);
  font-size: 18px;
  font-family: var(--mainFont);
}
.title-for-medical-cards {
  font-family: var(--mainFont);
  font-size: clamp(16px, 3vw, 24px);
  color: var(--colorFont);
}
/*Medical cards Section end*/

/*Latest health prods start*/
.latest-prods {
  background-color: var(--mainColor);
  background-image: url(../img/latest-health-prods-img/pill-for-latest.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-bottom: 135px;
}
.card-img-top {
  width: 200px;
  height: 200px;
}
.card {
  background-color: #f2f2f2;
  transition: all 0.4s ease;
  height: 70%;
  position: relative;
}
.card-img-latest button {
  background-color: #e2dfcf;
  font-family: var(--mainFont);
  font-size: clamp(12px, 3vw, 16px);
  color: var(--colorFont);
  width: 100%;
  visibility: hidden;
}
.card-img-latest {
  width: 100%;
}
.card-img-latest a {
  color: var(--colorFont);
  width: 100%;
}
.latest-prods .card-body {
  font-family: var(--mainFont);
  background-color: var(--mainColor);
}
.card-body {
  margin-top: 10px;
}
.card-body h2 {
  color: var(--colorFont);
  font-size: clamp(20px, 3vw, 24px);
  text-align: start;
}
.card-body span {
  font-size: clamp(16px, 3vw, 19px);
  color: var(--textFontColor);
}
.latest-prods .title-for-latest {
  font-size: clamp(30px, 3vw, 48px);
  color: var(--colorFont);
  font-family: var(--mainFont);
}
.latest-prods .row {
  padding-top: 60px;
}
.latest-prods .something-to-position {
  position: absolute;
  top: 14px;
  left: 13px;
  width: fit-content;
  background-color: #d3744a;
  color: white;
  border-radius: 14px;

  pointer-events: none;
}
.card:hover {
  transform: scale(1.05);
  height: auto;
}

.card:hover button {
  visibility: visible;
  background-color: #e2dfcf;
}
.card button:hover {
  background-color: #e8e6de;
}
.card-img-top {
  position: relative;
}

/*latest health prods end*/

/*Slide start*/

.slides {
  background-color: var(--mainColor);
  padding-bottom: 130px;
}
.slides .container {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 13px;
}
.slide-info .slide-heading {
  color: var(--colorFont);
  font-size: clamp(12px, 2.5vw, 18px);
  font-family: var(--mainFont);
}
.slide-info .message {
  color: var(--textFontColor);
  font-size: clamp(10px, 2.5vw, 16px);
}
.slide-image {
  position: relative;
}
.positioned-icon {
  position: absolute;
  top: 41px;
  left: 42px;
}
/*Slide end*/

/*Follow us section start*/
.follow-us {
  background-color: var(--mainColor);
  background-image: url(../img/follow-us/pills-follow.svg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 139px;
  padding-bottom: 130px;
}
.follow-us .unique-follow-img {
  border-radius: 30px;
}
.follow-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.title-for-follow {
  font-size: clamp(30px, 3vw, 48px);
  color: var(--colorFont);
}
.follow-card .the-image {
  transition: all 0.3s ease;
}
.follow-card .overlay {
  display: none;
}
.follow-card .overlay .overlay-text {
  cursor: pointer;
  font-family: var(--mainFont);
  color: var(--colorFont);
  font-weight: 500;
  margin-top: 10px;
}
.follow-card:hover .overlay {
  display: block;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.follow-card:hover .the-image {
  filter: grayscale(30%) brightness(1);
  opacity: 0.5;
}
.follow-card .the-image {
  width: clamp(170px, 20vw, 250px);
  height: auto;
}
.follow-us .container {
  row-gap: clamp(30px, 3vw, 50px);
}
/*Follow us section end*/

/*Explore store section start*/

.explore-store {
  background-color: #e8e6de;
  padding: 130px 0 0 0;
}
.explore-store .title-for-explore {
  color: var(--colorFont);
  font-size: 48px;
}
@media (max-width: 768px) {
  .explore-store .title-for-explore {
    font-size: 42px !important;
  }
}

@media (max-width: 576px) {
  .explore-store .title-for-explore {
    font-size: 32px !important;
  }
}
/*Explore store section end*/

/*newsletter start*/

.newsletter {
  padding: 130px 0;
  background-color: #e8e6de;
  background-image: url(../img/newsletter/back-img.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 200px;
}
.news1 {
  background-color: #f2f2f2;
}
.news-bottom {
  margin-bottom: 60px;
}
.btn-letter {
  background-color: var(--colorFont);
  color: white;
  border-radius: 8px !important;
}
.navbar-letter .btn-letter {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.navbar-letter form a:hover {
  background-color: #653e1c;
  transition: all 0.3s ease;
}
.news-top span {
  font-size: clamp(20px, 4vw, 24px);
  font-family: var(--mainFont);
  color: #6c543e;
}
.news-top h2 {
  font-family: var(--mainFont);
  font-size: clamp(30px, 2.5vw, 40px);
  color: var(--colorFont);
}
.form-control {
  border-radius: 8px !important;
  border-color: var(--colorFont);
  background-color: #ebe9e0;
  padding-left: 41px;
}
.form-control::placeholder {
  font-family: sans-serif;
  color: var(--textFontColor);
}
.form-for-letter {
  position: relative;
}
.input-group .unique-img {
  position: absolute;
  top: 8px;
  left: 12px;
}
/*newsletter end*/

/*Our Happy Clients section start*/
.happy-clients {
  background-color: var(--mainColor);
  padding: 130px 0;
}

.happy-clients .title-for-clients {
  font-size: clamp(30px, 2.5vw, 48px);
  font-family: var(--mainFont);
  color: var(--colorFont);
}
.quote-clients {
  border-radius: 30px;
  padding: clamp(2rem, 5vw, 6rem);
  background-color: #f2f2f2;
  background-image: url(../img/our-happy-clients/quote.svg);
  background-repeat: no-repeat;
  background-position: 11px -4px;
  max-width: 100%;
}
.quote-clients span {
  font-size: clamp(12px, 2.5vw, 18px);
  font-family: sans-serif;
  color: var(--textFontColor);
}
.person-info {
  width: 100%;
  transition: all 0.3s ease;
}
.person-info:hover {
  outline-style: solid;
  outline-width: 1.6px;
  border-radius: 11px;
  outline-color: var(--colorFont);

  transform: scale(1.05);
}
.person-info .person-details {
  font-size: clamp(12px, 2.5vw, 18px);
}
.person-info .person-details .person-name {
  color: var(--colorFont);
  font-family: var(--mainFont);
}
.person-info .person-details .person-position {
  color: var(--textFontColor);
  font-family: sans-serif;
}
@media (max-width: 1200px) {
  .person-info {
    width: 75%;
  }
}
/*Our Happy Clients section end*/

/*footer start*/
.footer-section {
  background-image: url(../img/footer-imgs/tree.svg),
    url(../img/footer-imgs/pills.svg);
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  padding: 80px 0 40px 0;
}
.footer-info {
  column-gap: 35px;
  font-family: var(--mainFont);
}
.info {
  row-gap: 32px;
}
.info h2 {
  font-size: 24px;
  color: var(--colorFont);
}
.info ul li a {
  text-decoration: none;
  font-size: 17px;
  color: var(--textFontColor);
}
.info ul li a:hover {
  color: var(--colorFont);
  transition: all 0.4s ease;
}
.footer-section {
  background-color: #e8e6de;
}
.social-icons img {
  width: 30px;
  height: auto;
}
.medifit-image img {
  height: 74px;
  flex-wrap: wrap;
  width: auto;
  max-width: 100%;
}
.description-for-footer {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--textFontColor);
}

.footer-addresses .address {
  row-gap: 30px;
}
.address {
  font-family: var(--mainFont);
}
.address h2 {
  font-size: 24px;
  color: var(--colorFont);
}
.address .add-info {
  color: var(--textFontColor);
  font-size: 18px;
}
.footer-addresses {
  gap: 107px;
}
.footer-addresses h2 {
  font-size: 24px;
  color: var(--colorFont);
}
.cont-info .cont a {
  color: var(--textFontColor);
  font-size: 18px;
}
.contact-footer-info {
  row-gap: 30px;
}
/*footer end*/

/*index.html end*/

/*---------------------Home page start----------------------*/

/*hero secion start*/
.hero-home {
  background-color: #e8e6de;
}

.hero-home .wrapper {
  padding: 6%;
}
.hero-home .wrapper h2 {
  font-size: clamp(34px, 4vw, 68px);
  font-family: var(--mainFont);
  color: var(--colorFont);
}
.hero-home .wrapper .hero-btn a button {
  font-family: sans-serif;
  font-size: clamp(14px, 4vw, 18px);
}
.hero-home .wrapper .text-home span {
  font-family: sans-serif;
  font-size: clamp(14px, 4vw, 18px);
  color: var(--colorFont);
}
.hero-home .card-home {
  row-gap: 80px;
}
.hero-home .img-class-home img {
  height: 100% !important;
}
@media (max-width: 327px) {
  .hero-info-home .hero-img-home img {
    width: 80%;
    height: auto;
  }
}
/*hero section end*/

/*clients slider start*/
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #e2dfcf;
}
.slider-items {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 200px;
  padding: 30px 0;
  animation: scroll-left 20s linear infinite;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20%);
  }
}
/*clients slider end*/

/*bringing trust start*/
.bring-trust {
  background-color: var(--mainColor);
  background-image: url(../img/home.html/bring-trust/fi_4173061.svg);
  background-size: 140px;
  background-repeat: no-repeat;
  background-position: left bottom;
  padding: 130px 0 80px 0;
}
.bring-trust .trust-header h2 {
  font-size: clamp(30px, 4vw, 48px);
  font-family: var(--mainFont);
  color: var(--colorFont);
}
.bring-trust span {
  font-size: clamp(14px, 4vw, 18px);
  font-family: sans-serif;
  color: var(--textFontColor);
}

/* bringing trust end */

/* discover products section start */
#explorehome.explore-store {
  background-color: var(--mainColor) !important;
  padding: 0 0 114px 0;
}
.explore-store .card-title-for-discover .discover-header h2 {
  font-family: var(--mainFont);
  color: var(--colorFont);
  font-size: clamp(30px, 4vw, 48px);
}
.explore-store .card-title-for-discover .discover-info span {
  font-size: clamp(14px, 4vw, 18px);
  font-family: sans-serif;
  color: var(--textFontColor);
}
/*discover products section end*/

/*shop by category home*/
.shop-by-categ__home {
  background-color: #e8e6de;
  padding: 146px 0 130px 0;
  background-image: url(../img/home.html/shop-by-category/vector.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 120px;
}
.shop-by-categ__home .categ-card-home {
  background-color: #f2f2f2;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.categ-text-home {
  width: 51%;
}
.shop-by-categ__home .categ-card-home .categ-text-home .inside-text {
  font-size: clamp(14px, 4vw, 18px);
  font-family: var(--mainFont);
  color: var(--colorFont);
}
.shop-by-categ__home h2 {
  font-size: clamp(25px, 4vw, 48px);
  font-family: var(--mainFont);
  color: var(--colorFont);
}
@media (max-width: 767.98px) {
  .shop-by-categ__home a {
    width: fit-content !important;
  }
}
.shop-by-categ__home a:hover .categ-card-home {
  transform: scale(1.05);
}
/*shop by category home end*/

/*middle cta*/
.middle-latter {
  background-color: #e8e6de;
  padding: 0 0 114px 0;
  background-image: url(../img/home.html/middle-cta/fi_13965105.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 220px;
}
.middle-latter .row {
  gap: 70px;
}
.middle-latter .row .latter-text-button .latter-header h2 {
  font-size: clamp(25px, 4vw, 48px);
  color: var(--colorFont);
  font-family: var(--mainFont);
  font-weight: 500;
}
.middle-latter .row .latter-text-button .latter-span {
  font-size: clamp(14px, 4vw, 18px);
  color: var(--textFontColor);
  font-family: sans-serif;
}
/*healthcare insights start*/
.healthcare-insights {
  padding: 0 0 130px 0;
}
.healthcare-insights .title-insight h2 {
  font-size: clamp(24px, 4vw, 48px);
  color: var(--colorFont);
  font-family: var(--mainFont);
}
.healthcare-insights .card-insight .text-info-for-img {
  width: 44%;
}
@media (max-width: 992px) {
  .healthcare-insights .card-insight .text-info-for-img {
    width: 100%;
  }
}

.healthcare-insights .card-insight .text-info-for-img .date {
  font-size: clamp(12px, 4vw, 18px);
  color: var(--textFontColor);
  font-family: var(--mainFont);
}
.healthcare-insights .card-insight .text-info-for-img .more-info-health {
  font-size: clamp(14px, 4vw, 24px);
  color: var(--colorFont);
  font-family: var(--mainFont);
  font-weight: 500;
}
.healthcare-insights .card-insight .read-more a:hover span {
  color: var(--textFontColor);
  transition: all 0.3s ease;
}
.healthcare-insights .card-insight .read-more a:hover img {
  transform: translateX(7px);
  transition: all 0.3s ease;
}

/*healthcare insights end*/

/*customer review start*/
.customer-review {
  background-color: var(--mainColor);
  padding: 60px 0 174px 0;
  background-image: url(../img/home.html/customer\ review/backimg.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 140px;
}
.customer-review h2 {
  font-size: clamp(25px, 4vw, 48px);
  color: var(--colorFont);
  font-family: var(--mainFont);
}
.customer-review .top-of-card {
  background-color: #f2f2f2;
  padding: 4.27% 10.76% 4% 7.76%;
  border-radius: 24px 24px 24px 0;
}
.customer-review .top-of-card span {
  font-size: clamp(14px, 4vw, 18px);
  color: var(--textFontColor);
  font-family: sans-serif;
}
.customer-review .bottom-of-card .name-of-person span {
  font-size: clamp(14px, 4vw, 18px);
  color: var(--colorFont);
  font-family: var(--mainFont);
  font-weight: 500;
}
/*-------------------------------------about.html start-------------------------------------*/

.health-unique-imgs {
  background-color: var(--mainColor);
  padding: 150px 0 0 0;
}
.health-unique-imgs .container h2 {
  color: var(--colorFont);
  font-size: clamp(30px, 4vw, 70px);
  font-family: var(--mainFont);
}
.about-us {
  background-color: var(--mainColor);
  padding: 130px 0;
}
.about-us .about-us-header h2 {
  font-size: clamp(30px, 4vw, 58px);
  color: var(--colorFont);
  font-family: var(--mainFont);
}

.about-us .about-us-info span {
  font-size: clamp(25px, 4vw, 40px);
  color: var(--colorFont);
  font-family: var(--mainFont);
}

/*what to expect section*/

.what-to-expect {
  background-color: #e8e6de;
  padding: 130px 0;
  background-image: url(../img/contact-us/asked-questions/medical\ shape\ 5\ 1.svg);
  background-repeat: no-repeat;
  background-position: right top;
}
.what-to-expect h2 {
  font-size: clamp(30px, 4vw, 58px);
  color: var(--colorFont);
  font-family: var(--mainFont);
  width: 69%;
}
.what-to-expect .head-card h3 span {
  font-size: clamp(18px, 4vw, 40px);
  color: var(--textFontColor);
  font-family: var(--mainFont);
}
.what-to-expect .head-card h3 {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.what-to-expect h3 .second-image {
  height: 50px;
}
.what-to-expect .head-card h3:hover span {
  color: var(--colorFont);
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .what-to-expect h2 {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .what-to-expect .expect-image {
    height: 35px;
  }
}
.what-to-expect .expect-unique {
  font-size: clamp(16px, 4vw, 18px);
  color: var(--textFontColor);
  font-family: sans-serif;
}
/*what to expect section end*/

/*-------------------shop-detail.html start-------------------*/
.pointer-events-none {
  pointer-events: none;
}
/*recent products section start*/
.latest-prods-recent {
  position: relative; /* Needed to contain the absolute ::before */
  background-color: var(--mainColor);
  background-image: url(../img/latest-health-prods-img/pill-for-latest.svg);
  background-repeat: no-repeat;
  background-position: left center;
  overflow: hidden; /* Prevents ::before from overflowing if needed */
}

.latest-prods-recent::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--mainColor);
  z-index: 1;
  pointer-events: none;
  opacity: 1;
}

.latest-prods-recent > * {
  position: relative;
  z-index: 2;
}

.cta-section {
  padding: 130px 0;
}
.cta-section .cta-text {
  font-size: clamp(23px, 3vw, 45px) !important;
}
.cta-section .cta-description {
  font-size: clamp(15px, 3vw, 18px) !important;
  font-family: sans-serif;
}
.cta-section {
  background-color: var(--mainColor);
}
.cta-section .container {
  background-color: #f2f2f2;
  border-radius: 13px;
}
/*recent products section end*/

/*Shop Services section start*/
.shop-services {
  background-color: var(--mainColor);
  padding-bottom: 130px;
}
.shop-services span {
  font-family: var(--mainFont);
  color: var(--colorFont);
  font-weight: 500;
}
/*Shop services end*/

/*prod-details start*/
.prod-details {
  background-color: var(--mainColor);
  background-image: url(../img/shop-detail/b12-details/Decoration.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.prod-details .prod-img {
  width: clamp(200px, 30vw, 463px);
  transition: all 0.4s ease;
}
.prod-details .extra-info .btn-dark {
  background-color: var(--colorFont) !important;
  font-family: var(--mainFont);
}
.prod-details .extra-info .btn {
  padding: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}
.prod-details .extra-info button:hover {
  background-color: #653e1c !important;
  transition: all 0.3s ease;
}
.prod-details .extra-info input {
  border-radius: 8px;
  background-color: var(--mainColor);
}
.top-content .top-head h2 {
  font-family: var(--mainFont);
  color: var(--colorFont);
  font-size: clamp(40px, 4vw, 70px);
}
.top-content .top-content-price {
  color: var(--textFontColor);
  font-family: var(--mainFont);
}
.top-content .top-content-price .current-price {
  font-size: 48px;
}
.top-content .top-content-price .discount {
  font-size: 30px;
}

.prod-details .product-description .desc-head,
.bottom-content .bottom-head {
  font-size: 24px;
  font-family: var(--mainFont);
  color: var(--colorFont);
}
.prod-details .product-description .desc-info {
  font-size: 18px;
  font-family: sans-serif;
  color: var(--textFontColor);
}
.prod-details .bottom-content .bottom-list ul {
  font-family: sans-serif;
  font-size: 18px;
  color: var(--textFontColor);
}
.prod-details .prod-img:hover {
  transform: scale(1.05);
}
@media (max-width: 1200px) {
  .top-content .top-content-price .current-price {
    font-size: 30px;
  }
  .top-content .top-content-price .discount {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .top-content .top-content-price .current-price {
    font-size: 24px;
  }
  .top-content .top-content-price .discount {
    font-size: 17px;
  }
}

/*prod-details end*/

/*--------------------sign in page-----------------------*/

/*----------------------contact us section------------------*/
.contact-section {
  background-image: url(../img/shop-detail/b12-details/Decoration.svg);
  background-repeat: no-repeat;
  background-position: 25px bottom;
  padding-top: 169px;
}
.card-contact {
  width: 34%;
}
@media (max-width: 768px) {
  .card-contact {
    width: 100%;
  }
  .card-contact2 {
    width: 100% !important;
  }
}
.card-contact2 {
  width: 69%;
}
.tall-input {
  height: 55px;
  background-color: var(--mainColor) !important;
}
.message-form {
  background-color: var(--mainColor) !important;
}
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.contact-section label {
  font-family: sans-serif;
  font-size: 18px;
  color: var(--colorFont);
}
.contact-header h2 {
  font-family: var(--mainFont);
  font-weight: 400px;
  font-size: clamp(32px, 4vw, 70px);
  color: var(--colorFont);
}
.contact-section .more-desc {
  color: var(--textFontColor);
  font-family: sans-serif;
  font-size: 18px;
}
.card-contact {
  position: relative;
}
.card-contact2 {
  position: relative;
}
.card-contact .input-group .img-contact {
  position: absolute;
  z-index: 19;
  left: 6px;
  top: 22%;
}
.card-contact2 .input-group-unique .img-contact-unique {
  position: absolute;
  z-index: 19;
  left: 6px;
  top: 16%;
}
.card-contact2 .btn-dark {
  background-color: var(--colorFont) !important;
  font-family: var(--mainFont);
}
.card-contact2 .btn {
  padding: 7px 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}
.card-contact2 button:hover {
  background-color: #6d4522 !important;
  transition: all 0.3s ease;
}

/*asked questions section*/
.asked-questions {
  background-image: url(../img/contact-us/asked-questions/medical\ shape\ 5\ 1.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 200px;
  padding-top: 128px;
}
.asked-questions h2 {
  font-size: clamp(30px, 4vw, 58px);
  color: var(--colorFont);
}
.ask-card {
  outline: var(--colorFont) solid 0.5px;
  padding: 4%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.ask-card h5 {
  color: var(--colorFont);
  font-family: var(--mainFont);
  font-size: clamp(20px, 4vw, 24px);
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: start;
}
.ask-card .more-ask-info {
  font-family: sans-serif;
  font-size: 15px;
  color: var(--textFontColor);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}
.ask-card:hover h5 img {
  transition: transform 0.5s ease;
}
.ask-card:hover h5 img {
  transform: rotate(45deg);
}
.ask-card:hover .more-ask-info {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);

  /*notes about this code for later:
  max-height: Allows the content to collapse smoothly.
  opacity: Fades it in/out.
  transform: Adds a smooth "slide up" motion.
  transition: Animates the changes.
  */
}
/*---------------------sign in page-------------------*/
.custom-background {
  background-color: var(--mainColor);
}
.sign-in-page {
  min-height: 100dvh;
  align-items: flex-start;
  padding: 4rem 0;
}

.sign-in-page .left-header-sign .sign-title h2 {
  font-size: clamp(25px, 4vw, 35px);
  font-family: var(--mainFont);
  color: var(--colorFont);
}
.sign-in-page .sign-left {
  row-gap: 30px;
}
.sign-in-page .left-header-sign .sign-span span {
  font-size: clamp(13px, 4vw, 16px);
  font-family: sans-serif;
  color: var(--textFontColor);
}
.sign-in-page .card-contact {
  width: 52%;
}
.sign-in-page .card-contact a {
  padding-left: 16%;
  padding-right: 16%;
  margin-top: 20px;
}
.sign-in-page .card-contact label {
  color: var(--colorFont);
  font-size: 18px;
  font-family: var(--mainFont);
  font-weight: 500;
}
.sign-in-page .card-contact .form-control {
  padding-left: 22px !important;
}
.sign-in-page .card-contact .btn-dark {
  background-color: var(--colorFont);
  font-family: var(--mainFont);
}
.sign-in-page .card-contact .btn-dark:hover {
  background-color: #653e1c;
  transition: all 0.3s ease;
}
.sign-in-page .sign-right {
  overflow: hidden;

  height: 100%;
  position: relative;
}

.sign-in-page .sign-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
.sign-in-page .doesnt-have-account {
  font-size: clamp(12px, 4vw, 16px);
  font-weight: 500;
}

.sign-in-page .doesnt-have-account a {
  color: var(--textFontColor) !important;
  font-family: var(--mainFont);
}
.sign-in-page .doesnt-have-account a:hover {
  color: #503217 !important;
  transition: all 0.4s ease;
}
@media (max-width: 768px) {
  .sign-in-page .sign-left .card-contact {
    width: 80%;
  }
}
/*------------------sign up page---------------*/

.sign-in-page .sign-up-title {
  padding: 0 7%;
}

/*-------------------shop.html page-----------------*/
#shop-html-prods {
  padding-top: 120px;
  background-color: var(--mainColor) !important;
}
#shop-html-prods .card-img-latest {
  margin: auto;
}
#shop-html-prods .title-for-latest {
  font-size: clamp(25px, 4vw, 48px);
  color: var(--colorFont);
  font-family: var(--mainFont);
}
#shop-html-prods span {
  font-family: var(--mainFont);
}
#bodywash-unique {
  padding-top: 120px;
  background-color: var(--mainColor) !important;
}
#bodywash-unique .card-img-latest {
  margin: auto;
}
#bodywash-unique .title-for-latest {
  font-size: clamp(25px, 4vw, 48px);
  color: var(--colorFont);
  font-family: var(--mainFont);
}
#bodywash-unique span {
  font-family: var(--mainFont);
}
#shop__html .latest-prods {
  padding-bottom: 50px;
}
.carousel-for-shop {
  background-color: #e8e6de;

  background-image: url(../img/follow-us/pills-follow.svg),
    url(../img/hero-index-html/doctor.svg),
    url(../img/home.html/middle-cta/fi_13965105.svg),
    url(../img/footer-imgs/pills.svg);
  background-repeat: no-repeat;
  background-position: left top, left bottom, right bottom, right top;
  background-size: 139px, 250px, 220px;
}
#carousel h5 {
  color: var(--colorFont);
  font-size: 30px;
  font-family: var(--mainFont);
  font-weight: 700;
}
#carousel p {
  color: black;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
}
#carousel .carousel-caption h5 {
  margin-bottom: 25px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%); /* Turns default white arrows to black */
  background-color: transparent; /* Optional: in case it has bg */
}
.carousel-indicators [data-bs-target] {
  background-color: var(--textFontColor);
}
.carousel-indicators .active {
  background-color: var(--colorFont);
}
.video-for-store {
  background-color: var(--mainColor);
}
.video-for-store video {
  aspect-ratio: 16 / 9;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}